# Ignore all pdf, txt, rar file at local computer
*.pdf
*.txt
*.rar
*.docx

# Ignore sql example at local/
iwaktambak.sql

# Ignore png at local/Lab\ 1
Lab\ 1/*.png
Lab\ 3/Lab_3.sql
Lab\ 3/Pertemuan\ 3.sql